In [1]:
#!/usr/bin/python

import sqlite3

In [3]:
#connecting with the database(if there is no database exists,it wil create one)

db = sqlite3.connect("student_database.db")

In [4]:
#declare cursor
cursor = db.cursor()

In [8]:
#create table
cursor.execute("CREATE TABLE student_data(phone_number INT PRIMARY KEY,email_id TEXT,course_name TEXT, fee INT)")

In [13]:
cursor.execute("INSERT INTO student_data(phone_number,email_id ,course_name , fee) values (9567124571,'ram@gmail.com','DATA_SCIENCE',30000)")

db.commit()

In [14]:
#count of records inserted
print(cursor.rowcount,"Record(s) inserted")

1 Record(s) inserted

In [17]:
results =cursor.execute("select * from student_data")
for row in results:
    print(row)

(9567124578, 'ram@gmail.com', 'DATA_SCIENCE', 30000)
(9567124571, 'ram@gmail.com', 'DATA_SCIENCE', 30000)

In [73]:
with open(r'C:\Users\315ra\OneDrive\Desktop\notes\notes-main\DT_Students.csv', encoding='utf-8') as file:
    no_of_records = 0
    cursor.execute(("insert into student_data values[?,?,?,?]",row.split(",")))
    db.commit()
    no_of_records+=1
print(no_of_records,'records inserted')

SyntaxError: invalid syntax (3565337910.py, line 5)